.open-sans{
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

body{
    padding: 0px 20px;
    width: 100%;
    margin: 0px;
    box-sizing: border-box;

}

/* 
   navbar code start */

.nav-bar{
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 20px 20px;
    text-align: center;
    
}

.logo{
    display: flex;
    justify-content: space-between;
    align-items: center
}

.menu, .material-symbols-outlined{
    font-size: bold;
    display: none;
}
p {
    font-size: 2rem;
    text-align: center;
}

.nav-home {
    gap: 20px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    text-align: center;
}

.nav-home > a{
    text-decoration: none;
}

.con{
    display: flex;
    justify-content: center;
    width: 180px;
    height: 40px;
    border: 3px solid orange;
    border-radius: 5px;
    background-color: orange;
    align-items: center;
    color: white;
}

/* banner code start */
.banner{
    max-width: 100%;
    max-height: auto;
    padding: 20px 20px;
    display: grid;
    grid-template-columns: 65% 30%;
    gap: 20px;
    box-sizing: border-box;
}

.bnner-img{
    width: 200px;
    height: auto;
}


.dis{
    font-size: 56px;
    font-style: bold;
    line-height: auto;
    margin-bottom: 10px;
}

.btn{
    font-size: 20px;
    width: 130px;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.Empowering{
    color: orange;
}

.towards-vision{
    color: rgb(30, 180, 240);
}

/* Standard Curriculum code start  */


.Standard-Curriculum{
    max-width: 100%;
    height: 600px;
    margin-top: 30px;
    background-image: url(./bg.png);
}

h4{
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.card-parent{
    max-width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
}

.card-1, .dis-card{
    width: 30%;
    height: 450px;
    border-radius: 10px;
    background-color: #def5ffb7;
    display: flex;
    justify-content: center;
    text-align: center;
   
}

.bg-2{
    background-color: #fff4dc9c;
}
.bg-3{
    background-color: #f2e8ff86;
}

.img-card{
    display: flex;
    justify-content: center;
    text-align: center;
}
.img-card > .im1{
    display: block; display: flex; justify-content: center; text-align: center;" 
}
.card-a{
    justify-content: center;
}

.logo-p{
    width: 100%;
    height: 80px;
}

.logo-areo, .aa, .bb{
    width: 60px;
    height: 60px;
    gap: 5px;
}
.logo-areo, .logo-p{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.aa, .bb{
    border-radius: 60px;
    background-color: orange;
    color: white;
}


.story-p{
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: url(./bg.png);
    background: linear-gradient(rgba(226, 218, 218, 0.336),rgba(255, 166, 0, 0.274));
}

.cards-1{
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 5px;
}
.s-titel{
    font-size: 20px;
}

/* .fore-img, .a1a .a4-4{
    width: 100%;
    height: auto;
    border-radius: 10px;
    background-color: white;
    border: 5px solid red;
} */
.a1a{
    width: 100%;
    height: auto;
    border-radius: 15px;
    background-color: whitesmoke;
}

.fore-img{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}

.hedding-4{
    font-size: 15px;
    color: black;
}

.grid-t{
    display: flex;
    justify-content: space-between;
}







/*     @medi quary codestart */

@media screen and (max-width: 576px) {
    /* banner res code start */
    .banner{
        grid-template-columns: 1fr;
        
        flex-direction: column;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }
    .bnner-img{
        order: -1;
        margin: 0px;
        padding: 0px;
    }
           /* nav res code start */
    .menu, .material-symbols-outlined{
        font-size: bold;
        display: block;
    }

    .nav-bar{
        box-shadow: 0 1px 4px black , 0 0 40px rgb(32, 32, 32);
    }

    .nav-home , .con, .hidde, .logo-p, .cards-1{
        display: none;
    }
    /* Standard Curriculum res code start */
    .card-parent, .h33, .card-1 a1{
        grid-template-columns: 1fr 1fr;
        width: auto;
        height: auto;
        
        flex-direction: column;
        margin: 0px;
        padding:  0px;
        align-items: center;
        gap: 20px;
    }
    .a1a, .grid-t{
        display: grid;
        grid-template-columns: repeat(1fr 1fr);
        flex-direction: column;
        align-items: center;
        margin: 0px;
        padding: 0px;
    }
    .img-card > .im1{
        flex-direction: column;
    }


}


